*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #4453A4!important;
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
}
form {
  position: fixed;
  bottom: 500px;
  right: 30%;
  left: 30%;
  border-radius: 8px;
  border: 2px solid rgb(66, 66, 180);
  color: #000;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.items {
  
  top: 50px;
  right: 30%;
  left: 30%;
  border-radius: 8px;
  max-height: 330px;
  overflow: auto;


}

.items span{
  float: right;
}

::-webkit-scrollbar {
  width: 5px;
  padding: 1rem;
}
::-webkit-scrollbar-thumb {
  background: #888; 
  border: #000;
  width: 5px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.form-group {
  margin-bottom: 0;
}

.completedTodo {
  background-color: darkgray;
  text-decoration: line-through;
}
